:root {
  --main-white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.6);
  --main-black: #212121;
  --hover: #2196f3;
  --footer: #2f303a;
  --graphite: #757575;
  --grey: #f5f4fa;
  --logo: #000000;
  --border: #ececec;
  --header-contacts-icons: #757575;
  --team-social-link-icons: #afb1b8;
  --partners-icons: #afb1b8;
  --footer-social-link-icons: rgba(255, 255, 255, 0.1);
  --overlay: rgba(33, 150, 243, 0.9);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  max-width: 480px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-logo {
  text-decoration: none;
  color: var(--logo);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

span {
  color: var(--hover);
}

.studio {
  color: var(--main-white);
}

@media (max-width: 767px) {
  .mobile-container {
    display: block;
  }
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    display: block;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .header-contacts {
    display: block;
  }
}

@media (min-width: 1170px) {
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    display: block;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

/* header */
header {
  border-bottom: var(--border) 1px solid;
  position: relative;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* Nav-menu */
.mobile-nav {
  display: none;
}

.mobile-nav .is-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  min-width: 480px;
  height: 576px;
  z-index: 2;
  padding-left: 40px;
  padding-bottom: 47px;
  width: 480px;
  height: 736px;
  border: 1px solid red;
  display: block;
}

.open-menu,
.close-menu {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--main-white);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-grow: 1;
  }
}
@media screen and (max-width: 767px) {
  .mobile-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.nav__button svg {
  position: absolute;
  margin: auto;
  background-size: cover;
  top: 10px;
  left: 7px;
}

.nav__button .close-menu {
  display: none;
}

.nav__button:hover svg {
  fill: var(--hover);
}

.nav__button.is-open .close-menu {
  display: block;
}
.nav__button.is-open .open-menu {
  display: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  outline: 1px var(--border);
  min-height: 80px;
}

.page-header {
  padding-bottom: 269px;
}

.nav__link {
  color: var(--main-black);
  text-decoration: none;
  padding-bottom: 32px;
  font-size: 14px;
  display: block;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
}

.nav__link--current-page {
  color: var(--hover);
  text-decoration: none;
  padding-bottom: 32px;
  font-size: 14px;
  display: block;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
}

.contacts-link__phone {
  color: var(--hover);
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  display: inline-block;
  padding-bottom: 33px;
}
.contacts-link__mail {
  color: var(--graphite);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 64px;
  display: inline-block;
}

.nav-social-links {
  display: flex;
  width: 357px;
  justify-content: flex-start;
}

.nav-social-links > li {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;
}

.nav-social-links > li:last-child {
  border: none;
}

.nav-social-links > li:first-child {
  padding-left: 0;
}

/* Hero */
.hero {
  display: block;
  align-items: center;
  flex-direction: column;
  color: var(--main-white);
  text-align: center;
  max-width: 480px;
  max-height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./images/banner/1xbanner.jpeg");
  background-size: contain;
}

@media (min-width: 768px) (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./images/banner/2xbanner@2x.jpeg");
    background-size: cover;
  }
}

h1 {
  display: inline-block;
  max-width: 360px;
  margin-top: 118px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: var(--hover);
  color: var(--main-white);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 50px;
  min-width: 200px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0, 06em;
  padding: 10px 32px;
  margin-bottom: 200px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

/* Advantages */

.advantage {
  display: block;
  max-width: 480px;
  padding: 60px 15px;
  margin: 0px auto;
  margin: 0px;
}

.advantage svg {
  display: inline-block;
  height: 120px;
  width: 450px;
  background-color: var(--grey);
  border-radius: 4px;
}

.advantage h3 {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;

  text-transform: uppercase;
}

.advantage p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--graphite);
}

h2 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 15px;
  margin: 0;
}

h3 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Projects scss*/
@media (max-width: 1170px) {
  .projects {
    display: none;
  }
}
@media (min-width: 1170px) {
  .projects {
    display: flex;
  }
}
.projects__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
}
.description {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white);
  @include flex-center(center);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &. p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Team */
.team__photo .social-links svg {
  fill: var(--team-social-link-icons);
  margin: auto;
}

.our-team {
  background-color: var(--grey);
  text-align: center;
  display: block;
  padding: 0px;
  margin: auto;
  padding-bottom: 60px;
}

.team__photo {
  min-height: 622px;
  margin: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-white);
  height: 450px;
}

.team__text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--graphite);
}

.team__photo .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 206px;
}

.team__photo .social-links svg {
  width: 22px;
  height: 22px;
  margin: auto;
  fill: var(--team-social-link-icons);
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin: auto;
}
.team__link:hover svg {
  width: 22px;
  height: 22px;
  margin: auto;
  fill: var(--main-white);
}

/* Our Clients */
.clients {
  margin: 0 auto;
  margin-bottom: 60px;
}

.clients__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 90px;
  margin: 15px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  color: var(--partners-icons);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:hover,
.clients__logo:focus {
  border: 1px solid var(--hover);
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  color: var(--hover);
}

.clients__logo svg {
  fill: var(--partners-icons);
}

.clients__logo:hover svg,
.clients__logo:focus svg {
  fill: currentColor;
  color: var(--hover);
}

/* Footer */

footer {
  background-color: var(--footer);
  color: var(--main-white);
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 15px;
}

.footer .main-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer__contacts-link {
  color: var(--light-white);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.address p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.join {
  display: block;
  width: 206px;
  height: 80px;
  margin: 60px 0;
}

footer h3 {
  text-transform: uppercase;
  color: var(--main-white);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.social-links {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 44px;
  width: 206px;
  margin-top: 20px;
}

.social-links svg {
  width: 22px;
  height: 22px;
  margin: auto;
  background-size: contain;
  fill: var(--main-white);
}

.social-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: var(--footer-social-link-icons);
  width: 44px;
  height: 44px;
  margin: auto;
}

.social-links li:hover,
.social-links li:focus {
  background-color: var(--hover);
  fill: var(--main-white);
  cursor: pointer;
}

/* Footer-form */
.form__link {
  width: 450px;
  height: 156px;
  margin: auto;
  flex-direction: column;
}

.footer-input {
  width: 450px;
  height: 50px;
  padding-left: 15px;
  border-radius: 4px;
  background-color: var(--footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--main-white);
  outline: none;
  margin: 20px 0px;
}

.form__input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--light-white);
}

.form__input:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--light-white);
}

.form__input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--light-white);
}

.form__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--light-white);
}

.form__button {
  position: relative;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--hover);
  color: var(--main-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
}

.form__svg {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
  max-width: 450px;
  max-height: 609px;
  background-color: var(--main-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--main-white);
}

.button-close svg path:hover,
.button-close svg path:focus {
  fill: var(--hover);
  cursor: pointer;
}

/* Modal stiling */
.modalform {
  padding: 40px;
  padding-bottom: 0;
  min-height: 609px;
}

.modalform__list {
  display: block;
  margin: 0 auto;
  min-width: 370px;
}

.modalform__h2 {
  display: block;
  max-width: 370px;
  max-height: 60px;
  margin: auto;

  margin-bottom: 12px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0;
}

input[id="comment"] {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

label p {
  margin: 0;
}

.license {
  text-decoration: underline;
}

.modalform__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--graphite);
  margin-bottom: 10px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-wrapper:focus-within > .form-icon {
  fill: var(--hover);
  cursor: pointer;
}

.modalform__input {
  min-width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0px;
  padding-left: 40px;
  font-family: inherit;
}

.modalform__input:focus,
.modalform__input:hover {
  border-color: var(--hover);
  cursor: pointer;
  outline: none;
}

.textarea {
  min-width: 370px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea:hover,
.textarea:focus {
  border-color: var(--hover);
  cursor: pointer;
  outline: none;
}

.textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modalform__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.modalform__icon:focus,
.modalform__icon:hover {
  fill: var(--hover);
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-black);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox__icon {
  background-color: var(--hover);
  background-image: url(../../svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--graphite);
  display: inline-block;
}

.modalform__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: auto;
  margin-top: 30px;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--hover);
  color: var(--main-white);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
