:root {
  --main-white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.6);
  --main-black: #212121;
  --hover: #2196f3;
  --footer: #2f303a;
  --graphite: #757575;
  --grey: #f5f4fa;
  --logo: #000000;
  --border: #ececec;
  --header-contacts-icons: #757575;
  --team-social-link-icons: #afb1b8;
  --partners-icons: #afb1b8;
  --footer-social-link-icons: rgba(255, 255, 255, 0.1);
  --overlay: rgba(33, 150, 243, 0.9);
}
