html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  font-size: 36px;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 94px;
  text-align: center;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
}

h3 {
  display: block;
  font-size: 16px;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
