html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section {
  @media (min-width: 1200px) {
    padding: 94px 0px;
  }
}

h2 {
  font-size: 36px;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 33px;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 28px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

h3 {
  display: block;
  font-size: 16px;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.mobile-container {
  @media (max-width: 767px) {
    max-width: 480px;
    margin: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    margin: auto;
  }
}

p {
  @media (max-width: 767px) {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
  }
}
