/* header */
header {
  border-bottom: 1px solid #ececec;
  @include flex-between();
  max-width: 1200px;
  margin: 0px 15px;
  @include flex-between();
  padding: 0px 15px;
  position: relative;
  margin: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-height: 80px;
    padding: 0px 15px;
    @include flex-center();
  }
}
.header {
  padding-right: 15px;
  padding-left: 15px;
  @include flex-between();

  @media (max-width: 767px) {
    display: none;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  outline: 1px var(--border);
  min-height: 80px;
}

.mobile-nav.js-menu-container {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile-nav {
  @media (max-width: 767px) {
    display: none;
  }
}
