.header-contacts {
  color: var(--graphite);
  text-decoration: none;
  @include header-font();
  @include flex-between();
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;

  padding: 0;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: center;
    display: block;
  }
}

.contacts-link__mail,
.contacts-link__phone {
  color: var(--graphite);
  text-decoration: none;
  padding: 32px 0px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--hover);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin-right: auto;
  }
}

.header-contacts svg {
  margin-right: 10px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: currentColor;
  }
}
